<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<header>
  <img src="../static/img/logo.png" alt="logo" id="logo">
  <ul class="menu">
    <a href="/"><li>Home</li></a>
    <li>|</li>
    <a href="/sobre"><li>Quem somos</li></a>
    <li>|</li>
    <a href="/contato"><li>Contato</li></a>
    <li>|</li>
    <a href="/mensagens"><li>Mensagens</li></a>
  </ul>
</header>
<body>
{% block main %}
{% endblock %}
</body>
</html>