{% extends 'base.html' %}
{% block main %}
<img src="{{ url_for('static',     filename='img/capa.png') }}" alt="capa" id="capa">
<section>
  <h1>Sobre a universidade</h1>
  <p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipisicing elit. Odio corporis necessitatibus, deserunt saepe id vitae libero ea quasi veritatis repellendus voluptates quia autem minus rerum impedit, quas animi est. Distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe est voluptate voluptatum. Dicta pariatur eum minus amet sit, vel cupiditate eaque reiciendis eos enim, veritatis iusto provident, distinctio eligendi fugiat.</p>
  <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Error consequuntur non odio? Aut sit facilis nobis totam doloribus soluta aliquam quas eum molestiae! Nihil iusto harum, sequi culpa impedit incidunt! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi velit illum fuga quo excepturi voluptatibus neque commodi, quisquam architecto exercitationem delectus quis cumque quaerat quas perferendis sint, aut explicabo!</p>
  <h5>Todos os direitos reservados</h5>
</section>
{% endblock %}