{% extends 'base.html' %}
{% block main %}
<section>
  <h1>Quem somos</h1>
  <p>Lorem <b>ipsum dolor</b> sit amet consectetur, adipisicing elit. Quisquam rerum temporibus cupiditate amet pariatur est deserunt doloremque, mollitia similique porro quasi et atque facere aut corporis neque deleniti totam libero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quisquam, repellat dolorum libero dolor molestiae delectus hic! Voluptate quae quos aspernatur earum placeat impedit in ducimus facilis distinctio, eum odio! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore sunt animi ab reiciendis, debitis repudiandae impedit expedita id consequuntur assumenda nostrum</p>
  <h1>5 motivos para estudar</h1>
  <ol>
    <li>Material sempre atualizado</li>
    <li>Tablets em sala de aula</li>
    <li>Professores renomados</li>
    <li>Universidade bem avaliada</li>
    <li>Ótima localização</li>
  </ol>
  <hr>
  <h1>Objetivos</h1>
  <p>Lorem <b>ipsum dolor</b> sit amet consectetur, adipisicing elit. Quisquam rerum temporibus cupiditate amet pariatur est deserunt doloremque, mollitia similique porro quasi et atque facere aut corporis neque deleniti totam libero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quisquam, repellat dolorum libero dolor molestiae delectus hic! Voluptate quae quos aspernatur earum placeat impedit in ducimus facilis distinctio, eum odio! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore sunt animi ab reiciendis, debitis repudiandae impedit expedita id consequuntur assumenda nostrum</p>
  <h5>Todos os direitos reservados</h5>
</section>
{% endblock %}